{
  "openapi": "3.1.0",
  "info": {
    "title": "Sanka Public API",
    "version": "0.1.0",
    "description": "Public developer API contract for external integrations."
  },
  "servers": [
    {
      "url": "https://api.sanka.com"
    }
  ],
  "tags": [
    {
      "name": "absences"
    },
    {
      "name": "activity-logs"
    },
    {
      "name": "ai"
    },
    {
      "name": "approval-requests"
    },
    {
      "name": "associations"
    },
    {
      "name": "attendance-records"
    },
    {
      "name": "bills"
    },
    {
      "name": "companies"
    },
    {
      "name": "contacts"
    },
    {
      "name": "custom-objects"
    },
    {
      "name": "deals"
    },
    {
      "name": "disbursements"
    },
    {
      "name": "employees"
    },
    {
      "name": "estimates"
    },
    {
      "name": "expenses"
    },
    {
      "name": "exports"
    },
    {
      "name": "ferry-diagrams"
    },
    {
      "name": "ferry-programs"
    },
    {
      "name": "files"
    },
    {
      "name": "imports"
    },
    {
      "name": "incentives"
    },
    {
      "name": "inventories"
    },
    {
      "name": "inventory-transactions"
    },
    {
      "name": "invoices"
    },
    {
      "name": "items"
    },
    {
      "name": "journals"
    },
    {
      "name": "locations"
    },
    {
      "name": "lookout"
    },
    {
      "name": "meters"
    },
    {
      "name": "object-schemas"
    },
    {
      "name": "orders"
    },
    {
      "name": "payments"
    },
    {
      "name": "payroll"
    },
    {
      "name": "projects"
    },
    {
      "name": "properties"
    },
    {
      "name": "public-auth"
    },
    {
      "name": "purchase-orders"
    },
    {
      "name": "records"
    },
    {
      "name": "reports"
    },
    {
      "name": "revenues"
    },
    {
      "name": "rule-settings"
    },
    {
      "name": "sanka-buy"
    },
    {
      "name": "subscriptions"
    },
    {
      "name": "tasks"
    },
    {
      "name": "tickets"
    },
    {
      "name": "transfers"
    },
    {
      "name": "views"
    },
    {
      "name": "workflow-actions"
    },
    {
      "name": "workflow-runs"
    },
    {
      "name": "workflows"
    },
    {
      "name": "applicants"
    },
    {
      "name": "interviews"
    },
    {
      "name": "job-postings"
    },
    {
      "name": "workforce-planning"
    },
    {
      "name": "developer_cloud",
      "description": "Bounded cloud execution; check availability before submitting paid work."
    }
  ],
  "paths": {
    "/v2/public/absences": {
      "get": {
        "tags": [
          "absences"
        ],
        "summary": "List Public Absences",
        "operationId": "list_public_absences_api_v2_public_absences_get",
        "parameters": [
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Worker Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "usage_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Usage Status"
            }
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date From"
            }
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Start Date To"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Language"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filters"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort"
            }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At From"
            }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At To"
            }
          },
          {
            "name": "updated_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At From"
            }
          },
          {
            "name": "updated_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At To"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          },
          {
            "name": "X-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Language"
            },
            "x-fern-parameter-name": "x_language"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Accept-Language"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object record list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicAbsencesApiV2PublicAbsencesGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "absences"
        ],
        "summary": "Create Public Absence",
        "operationId": "create_public_absence_api_v2_public_absences_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePublicAbsenceApiV2PublicAbsencesPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/absences/{absence_id}": {
      "get": {
        "tags": [
          "absences"
        ],
        "summary": "Get Public Absence",
        "operationId": "get_public_absence_api_v2_public_absences__absence_id__get",
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Absence Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "form_view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Form View Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Object record detail response. The base detail payload is intentionally thin; drawer sections load through scoped endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicAbsenceApiV2PublicAbsencesAbsenceIdGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "absences"
        ],
        "summary": "Update Public Absence",
        "operationId": "update_public_absence_api_v2_public_absences__absence_id__put",
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Absence Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePublicAbsenceApiV2PublicAbsencesAbsenceIdPut200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "absences"
        ],
        "summary": "Delete Public Absence",
        "operationId": "delete_public_absence_api_v2_public_absences__absence_id__delete",
        "parameters": [
          {
            "name": "absence_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Absence Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePublicAbsenceApiV2PublicAbsencesAbsenceIdDelete200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/logs": {
      "get": {
        "tags": [
          "activity-logs"
        ],
        "summary": "List Public Activity Logs",
        "operationId": "list_public_activity_logs_api_v2_public_logs_get",
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Object Type"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Object Id"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Action"
            }
          },
          {
            "name": "field_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Field Name"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created After"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created Before"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Language"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicActivityLogsApiV2PublicLogsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/enrich": {
      "post": {
        "tags": [
          "ai"
        ],
        "summary": "Enrich Record",
        "operationId": "enrich_record_api_v2_enrich_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichRecordApiV2EnrichPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/prospect/companies": {
      "post": {
        "tags": [
          "ai"
        ],
        "summary": "Prospect Companies",
        "operationId": "prospect_companies_api_v2_prospect_companies_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectCompaniesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectCompaniesApiV2ProspectCompaniesPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/score": {
      "post": {
        "tags": [
          "ai"
        ],
        "summary": "Score Record",
        "operationId": "score_record_api_v2_score_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreRecordApiV2ScorePost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/approval-requests": {
      "post": {
        "tags": [
          "approval-requests"
        ],
        "summary": "Create Approval Request",
        "operationId": "create_approval_request_api_v2_public_approval_requests_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalRequestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApprovalRequestApiV2PublicApprovalRequestsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/approval-requests/{history_id}/approve": {
      "post": {
        "tags": [
          "approval-requests"
        ],
        "summary": "Approve Approval Request",
        "operationId": "approve_approval_request_api_v2_public_approval_requests__history_id__approve_post",
        "parameters": [
          {
            "name": "history_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "History Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveApprovalRequestApiV2PublicApprovalRequestsHistoryIdApprovePost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/approval-requests/{history_id}/reject": {
      "post": {
        "tags": [
          "approval-requests"
        ],
        "summary": "Reject Approval Request",
        "operationId": "reject_approval_request_api_v2_public_approval_requests__history_id__reject_post",
        "parameters": [
          {
            "name": "history_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "History Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectApprovalRequestApiV2PublicApprovalRequestsHistoryIdRejectPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/associations": {
      "get": {
        "tags": [
          "associations"
        ],
        "summary": "List Public Associations",
        "operationId": "list_public_associations_api_v2_public_associations_get",
        "parameters": [
          {
            "name": "source_object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Object Type"
            }
          },
          {
            "name": "source_record_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Record Id"
            }
          },
          {
            "name": "source_custom_object_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Source Custom Object Id"
            }
          },
          {
            "name": "definition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Definition Id"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Language"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicAssociationsApiV2PublicAssociationsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "associations"
        ],
        "summary": "Create Public Association",
        "operationId": "create_public_association_api_v2_public_associations_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAssociationMutationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePublicAssociationApiV2PublicAssociationsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "associations"
        ],
        "summary": "Delete Public Association",
        "operationId": "delete_public_association_api_v2_public_associations_delete",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAssociationMutationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePublicAssociationApiV2PublicAssociationsDelete200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/attendance-records": {
      "get": {
        "tags": [
          "attendance-records"
        ],
        "summary": "List Public Attendance Records",
        "operationId": "list_public_attendance_records_api_v2_public_attendance_records_get",
        "parameters": [
          {
            "name": "usage_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Usage Status"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Language"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filters"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort"
            }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At From"
            }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At To"
            }
          },
          {
            "name": "updated_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At From"
            }
          },
          {
            "name": "updated_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At To"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          },
          {
            "name": "X-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Language"
            },
            "x-fern-parameter-name": "x_language"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Accept-Language"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object record list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicAttendanceRecordsApiV2PublicAttendanceRecordsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "attendance-records"
        ],
        "summary": "Create Public Attendance Record",
        "operationId": "create_public_attendance_record_api_v2_public_attendance_records_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePublicAttendanceRecordApiV2PublicAttendanceRecordsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/attendance-records/{attendance_record_id}": {
      "get": {
        "tags": [
          "attendance-records"
        ],
        "summary": "Get Public Attendance Record",
        "operationId": "get_public_attendance_record_api_v2_public_attendance_records__attendance_record_id__get",
        "parameters": [
          {
            "name": "attendance_record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Attendance Record Id"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "External Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "form_view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Form View Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Object record detail response. The base detail payload is intentionally thin; drawer sections load through scoped endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicAttendanceRecordApiV2PublicAttendanceRecordsAttendanceRecordIdGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "attendance-records"
        ],
        "summary": "Update Public Attendance Record",
        "operationId": "update_public_attendance_record_api_v2_public_attendance_records__attendance_record_id__put",
        "parameters": [
          {
            "name": "attendance_record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Attendance Record Id"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "External Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePublicAttendanceRecordApiV2PublicAttendanceRecordsAttendanceRecordIdPut200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "attendance-records"
        ],
        "summary": "Delete Public Attendance Record",
        "operationId": "delete_public_attendance_record_api_v2_public_attendance_records__attendance_record_id__delete",
        "parameters": [
          {
            "name": "attendance_record_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Attendance Record Id"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "External Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePublicAttendanceRecordApiV2PublicAttendanceRecordsAttendanceRecordIdDelete200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/buy/offers": {
      "get": {
        "tags": [
          "sanka-buy"
        ],
        "summary": "List Public Buy Offers",
        "operationId": "list_public_buy_offers_api_v2_public_buy_offers_get",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Request Id"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Provider"
            }
          },
          {
            "name": "latest_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Latest Only"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Page Size"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicBuyOffersApiV2PublicBuyOffersGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/connectors/clay/signals": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Ingest Clay Signal",
        "operationId": "ingest_clay_signal_api_v2_lookout_connectors_clay_signals_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookoutSignalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestClaySignalApiV2LookoutConnectorsClaySignalsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/connectors/{provider}/signals": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Ingest Provider Signal",
        "operationId": "ingest_provider_signal_api_v2_lookout_connectors__provider__signals_post",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookoutSignalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestProviderSignalApiV2LookoutConnectorsProviderSignalsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/ad-actions": {
      "get": {
        "tags": [
          "lookout"
        ],
        "summary": "List Provider Actions",
        "operationId": "list_provider_actions_api_v2_lookout_ad_actions_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Provider"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": "queued",
              "title": "Status"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProviderActionsApiV2LookoutAdActionsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/provider-actions": {
      "get": {
        "tags": [
          "lookout"
        ],
        "summary": "List Provider Actions",
        "operationId": "list_provider_actions_api_v2_lookout_provider_actions_get",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Provider"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": "queued",
              "title": "Status"
            }
          },
          {
            "name": "run_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Run Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProviderActionsApiV2LookoutProviderActionsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/ad-actions/{action_id}/claim": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Claim Provider Action",
        "operationId": "claim_provider_action_api_v2_lookout_ad_actions__action_id__claim_post",
        "deprecated": true,
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimProviderActionApiV2LookoutAdActionsActionIdClaimPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/provider-actions/{action_id}/claim": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Claim Provider Action",
        "operationId": "claim_provider_action_api_v2_lookout_provider_actions__action_id__claim_post",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimProviderActionApiV2LookoutProviderActionsActionIdClaimPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/ad-actions/{action_id}/complete": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Complete Provider Action",
        "operationId": "complete_provider_action_api_v2_lookout_ad_actions__action_id__complete_post",
        "deprecated": true,
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookoutProviderActionCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteProviderActionApiV2LookoutAdActionsActionIdCompletePost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/lookout/provider-actions/{action_id}/complete": {
      "post": {
        "tags": [
          "lookout"
        ],
        "summary": "Complete Provider Action",
        "operationId": "complete_provider_action_api_v2_lookout_provider_actions__action_id__complete_post",
        "parameters": [
          {
            "name": "action_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Action Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookoutProviderActionCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteProviderActionApiV2LookoutProviderActionsActionIdCompletePost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/bills": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "List Public Bills",
        "operationId": "list_public_bills_api_v2_public_bills_get",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Language"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "usage_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Usage Status"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filters"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort"
            }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At From"
            }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created At To"
            }
          },
          {
            "name": "updated_at_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At From"
            }
          },
          {
            "name": "updated_at_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Updated At To"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          },
          {
            "name": "X-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Language"
            },
            "x-fern-parameter-name": "x_language"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Accept-Language"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object record list or line-item-expanded list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicBillsApiV2PublicBillsGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "bills"
        ],
        "summary": "Create Public Bill",
        "operationId": "create_public_bill_api_v2_public_bills_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePublicBillApiV2PublicBillsPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/bills/files": {
      "post": {
        "tags": [
          "bills"
        ],
        "summary": "Upload Public Bill File",
        "operationId": "upload_public_bill_file_api_v2_public_bills_files_post",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_public_bill_file_api_v2_public_bills_files_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadPublicBillFileApiV2PublicBillsFilesPost200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/public/bills/{bill_id}": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Get Public Bill",
        "operationId": "get_public_bill_api_v2_public_bills__bill_id__get",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Bill Id"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "External Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "name": "view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "View Id"
            }
          },
          {
            "name": "form_view_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Form View Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Object record detail response. The base detail payload is intentionally thin; drawer sections load through scoped endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicBillApiV2PublicBillsBillIdGet200Envelope"
                }
              }
            },
            "headers": {
              "x-ctx-id": {
                "$ref": "#/components/headers/XCtxId"
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "x-sanka-surface": "public_developer",
        "x-sanka-api-version": "v2",
        "x-sanka-auth": "developer_bearer",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "bills"
        ],
        "summary": "Update Public Bill",
        "operationId": "update_public_bill_api_v2_public_bills__bill_id__put",
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Bill Id"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "External Id"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Workspace Id"
            }
          },
          {
            "$ref": "#/components/parameters/XWorkspaceCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectRecordUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
[...]
